html {
    background-color: #26c7cc;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#DashBoard {
    height: 60vh;
    width: 90vw;
    background-color: #fafafa;
    border-radius: 10px;
}
#RouterLinkTitle{
    font-size: 1em;
    text-align: center;
    margin-top: 1em;
}
